.header-container{
    display: flex; 
    font-weight: bold;
    justify-content: flex-start;  
    /* background: #fed8b1;  */
    background:linear-gradient(#d99a6c,#fed8b1 );

    padding: 7px;
  }